@code {
    FinancialData Data => new FinancialData();
}


<h3>Financial Calculator</h3>

<h4>Income</h4>
<label>Gross Income:</label>
<input @bind="Data.Gross" type="number" />

<h4>Tax Deductions (%) </h4>
<label>FICA:</label>
<input @bind="Data.TaxDeductions.FICA" type="number" />
<label>Medicare:</label>
<input @bind="Data.TaxDeductions.Medicare" type="number" />
<label>State Tax:</label>
<input @bind="Data.TaxDeductions.StateTax" type="number" />
<label>Local Tax:</label>
<input @bind="Data.TaxDeductions.LocalTax" type="number" />

<h4>Pre Tax Deductions</h4>
<label>Vision:</label>
<input @bind="Data.PreTaxDeductions.Vision" type="number" />
<label>Retirement 401(K):</label>
<input @bind="Data.PreTaxDeductions.Retirement401k" type="number" />


<h4>Results</h4>
<p>Total Tax Deductions: @Data.TaxDeductions</p>
<p>Total Pre Tax Deductions: @Data.PreTaxDeductions</p>
<p>Total Deductions: @Data.TotalDeductions</p>
<p>Net Income: @Data.Net</p>
<p>Net Income Per Paycheck: @Data.NetPerPaycheck</p>

<div><Budget/></div>

